body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0e9fc4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header 
{
    position: sticky;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-x: hidden;
}
nav.custom_navigation 
{
    width: 100%;
}
nav.custom_navigation ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 10px 0;
}
nav.custom_navigation li 
{
    margin: 0 10px;
}
nav.custom_navigation li a 
{
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}
nav.custom_navigation li a:hover 
{
    background-color: #5a60ea;
    transform: scale(1.10);
    border-radius: 10px;
}
nav.custom_navigation img 
{
    height: 70px;
    width: auto;
    margin-right: 20px;
}
nav.custom_navigation input 
{
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #000000;
    height: 37px;
    font-size: large;
}
.content 
{
    padding: 20px;
    position: relative;
    border-radius: 8px;
    max-width: 1500px;
    margin: 20px auto;
}
.container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.box 
{
    border: 2px solid white;
    border-radius: 12px;
    padding: 30px;
    margin: 10px;
    flex: 0 1 calc(50% - 90px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 200px;
}
.new-buildings 
{
    background-image: url('Pictures/NewBuldings.png');
}
.sales 
{
    background-image: url('Pictures/Sales.png');
}
.rental 
{
    background-image: url('Pictures/Rental.png');
    background-color: rgb(1, 119, 171);
}
.property-stats 
{
    background-image: url('Pictures/Propert-stats.png');
}
.box h2 
{
    margin-top: 0;
}
.box button 
{
    position: absolute;
    bottom: 13px;
    left: 20px;
    padding: 10px 15px;
    border: none;
    background-color: rgb(2, 8, 14);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.box button:hover 
{
    background-color: rgb(154, 179, 206);
}
footer 
{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.block-footer
{
    display: flex;
    justify-content: space-between;
}
.custom-block-footer 
{
    display: inline-block;
    max-width: 700px;
    padding: 10px;

    background-color: #00000000;
    border-radius: 10px;
    overflow-wrap: break-word;
    white-space: normal;
}
footer p 
{
    font-size: medium;
    color: white;
}
p 
{
    color: #5E5959;
    font-size: xx-large;
    font-weight: bold;
}

h1 
{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.contact-info 
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon img 
{
    height: 50px;
    width: 50px;
    padding: 2px;
}
